.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #1f1f1f;
  padding-top: 90px;
  overflow: hidden;
  color: #f2f2f2;
  z-index: 1;
}
